<!DOCTYPE html>
<html>
  <head>
    <title>TodoMVC Rails 7.1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class='flash notice'><%= notice %></p>
    <% end %>

    <section class="todoapp">
      <%= render 'layouts/header' %>
      <section class="main">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </section>
  </body>
</html>
